<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Osman - Portfolio</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="mobile.css" media="only screen and (max-width:600px)">
  <link rel="stylesheet" href="tablet.css" media="only screen and (min-width:601px) and (max-width:900px)">
  <link rel="stylesheet" href="desktop.css" media="only screen and (min-width:901px)">



</head>
<body>
  <header>
    <h1>Osman Bilal</h1>
    <nav>
      <ul class="main-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul>
    </nav>
  </header>

  <figure> 
    <img src="IMG_6747.JPG" width="210px" height="210px">
    <figcaption>
        <h4> This is what I look like</h4>
    </figcaption>
  </figure>


  <main>
    <section>
      <h2>Welcome to my website!!</h2>
    



  <footer>
    <p>Contact: osman.bilal@ontariotechu.net</p>
    <p>© 2025 Osman Bilal</p>
  </footer>
</body>
</html>